


@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

article {
    font-size: 20pt;
    color: blue;
    
    font-family: "Open Sanssss", sans-serif;
    /* font-family: 'Sixtyfour', sans-serif; */
}